PORT=3000
DATABASE_DEV=mongodb://localhost:27017/metawall
DATABASE=
DATABASE_PASSWORD=
SWAGGER_HOST_DEV=localhost:3005
SWAGGER_HOST=
JWT_SECRET=
JWT_EXPIRES_DAY=
IMGUR_CLI_ID=
IMGUR_CLI_SECRET=
IMGUR_REFRESH_TOKEN=
IMGUR_ALBUM_ID=